{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <div class="container">
        <div class="row">
          <div class="form-group">
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-md-3">
            {{ flight_form.From | as_crispy_field }}
          </div>
          <div class="col-md-3">
            {{ flight_form.To | as_crispy_field }}
          </div>
          <div class="col-md-3">
            {{ flight_form.date | as_crispy_field }}
          </div>
          <div class="col-md-3">
            {{ flight_form.passenger | as_crispy_field }}
          </div>
          <input type="Submit" class="btn-success" value="Search">
          </div>
          
        </form>
        
      </div>

{% endblock  %}